body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #44b09e;
    background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.heading {
    text-align: center;
}

main > div > h2 span {
    color: #0077b6;
}

.card1:hover {
    cursor: pointer;
}


 .testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }

















/* .card1:hover {
    transform: scale(1.05);
    transition: 0.3s ease-out;
    cursor: pointer;
}

.image-container img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.25rem;
}

.card-content {
    background-color: #118ab2;
}

.card-content i {
    font-size: xx-large;


}

@media (max-width: 768px) {
    .main-card {
        flex-direction: column;
    }
} */